<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %>
    <title>Budgtr Index</title>
</head>
<body>

    <div class="container">
        <h1>Budgtr ALL</h1>
    
        <table>
            <% for( let i = 0; i < budget.length; i++ ) { %>
                <tr>
                    <td><%= budget[i].date %></td>
                    <td>
                        <a href="/budget/<%= i %>">
                            <%= budget[i].name %>
                        </a>
                    </td>
                    <td><%= budget[i].from %></td>
                    <td><%= budget[i].amount %></td>
                </tr>
            <% } %>
        </table>
    </div>

</body>
</html>