<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %>
    <title>Budgtr Index</title>
</head>
<body>

    <div class="container">
        <h1>Budgtr ALL</h1>
        <form action="/budgets/new/">
            <input type="submit" name="new" value="New Entry">
        </form>
        <table>
            <% for( let i = 0; i < budget.length; i++ ) { %>
                <tr>
                    <td><%= budget[i].date %></td>
                    <td>
                        <a href="/budgets/<%= i %>">
                            <%= budget[i].name %>
                        </a>
                    </td>
                    <td><%= budget[i].from %></td>
                    <td><%= budget[i].amount %></td>
                    <td>
                        <form action="/budgets/<%= i %>?_method=DELETE" method="POST">
                            <input type="submit" value="DELETE">
                        </form>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>

</body>
</html>