<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')  %> 
    <title><%= budget.name %> </title>
</head>
<body>
    <div class="container">
        <h1><%= budget.name %> </h1>
        <!-- <form action="/budgets/<%#budget%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" id="deleteindex"/>
        </form> -->
        <h6>date</h6>
        <p><%= budget.date %></p>
        <h6>name</h6>
        <p><%= budget.name %></p>
        <h6>from</h6>
        <p><%= budget.from %></p>
        <h6>amount</h6>
        <p><%= budget.amount %></p>
        <h6>tag</h6>
        <p><%= budget.tags %></p>
        <button type="button" value="Back" onclick="history.back(-1)">Back</button>
    </div>
</body>
</html>